.multi-step-form-wahid {
  background: #fff;
  padding: 20px;
  /* margin: 30px auto; */
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.cross{   
  color: black;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  border-radius: 50px;}
button {
  background-color: #007bff;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

p {
  color: #007bff;
  font-weight: bolder;
}

.searchBox {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 500px;
}
.searchButton {
  max-width: 200px;
}
